@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<h1>Welcome to Contoso University!</h1>
<p>
    Contoso University is a four year university that is in Gettysbury, Pennsylvania.
    We offer a wide varity of degrees from nursing to accounting to cheminstry. We are
    dedicated to assisting and helping our staff, students, and future students succeec
    and have the best college experience they possibly can.
</p>
<div class="row">
    <div class="col-md-4">
        <h2>Dedicated to students</h2>
        <img src="~/css/grad.jpg" alt="students graduating" width="33%"/>
    </div>
    <div class="col-md-4">
        <h2>Beatiful campus</h2>
        <img src="~/css/tree.jpg" alt="trees" width="33%"/>
    </div>
    <div class="col-md-4">
        <h2>Teachers that help you</h2>
        <img src="~/css/teach.jpg" alt="books and apple" width="33%"/>
    </div>
</div>